
<body>

  <div class="container">
      <div class="screen">
        <div class="screen__content">
          <form class="login" (ngSubmit)="onSubmit(loginForm)" #loginForm = "ngForm">
             <h2>Login form </h2>
            <div class="login__field">

              <input type="text" class="login__input" placeholder="User name / Email" name="email" ngModel>
            </div>
            <div class="login__field">

              <input type="password" class="login__input" placeholder="Password" name="password" ngModel>
            </div>
            <button type="submit" class="button login__submit">
              <span class="button__text">Submit</span>
          
            </button>
            <br>
            Not registred? <a href="register">create account </a>
          </form>
          <div class="social-login">

          </div>
        </div>
        <div class="screen__background">
          <span class="screen__background__shape screen__background__shape4"></span>
          <span class="screen__background__shape screen__background__shape3"></span>
          <span class="screen__background__shape screen__background__shape2"></span>
          <span class="screen__background__shape screen__background__shape1"></span>
        </div>
      </div>
    </div>
</body>
