<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus icon'></i>
      <div class="logo_name">CodingLab</div>
      <i class='bx bx-menu' id="btn" ></i>
  </div>
  <ul class="nav-list">
    <li>
        <i class='bx bx-search' ></i>
       <input type="text" placeholder="Search...">
       <span class="tooltip">Search</span>
    </li>
    <li>
      <a href="/adminHome">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
       <span class="tooltip">Dashboard</span>
    </li>
    <li>
     <a href="/add-course">
      <i class='bx bxs-plus-circle'></i>
       <span class="links_name">User</span>
     </a>
     <span class="tooltip">add Course</span>
   </li>

   <li class="profile">
       <a href="/logout">
        <i class='bx bx-log-out' id="log_out" ></i>
       </a>

   </li>
  </ul>
</div>
<section class="home-section">
    <div class="text">Dashboard</div>
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">

  <div class="row">
      <div class="col-12">
          <h2 class="contact-title">Add Course</h2>
      </div>
      <div class="col-lg-8">
          <form class="form-contact contact_form" id="contactForm" novalidate="novalidate"  [formGroup]="courseForm" (ngSubmit)="onSubmit()">
              <div class="row">

                  <div class="col-sm-6">
                      <div class="form-group">
                          <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter name'" placeholder="name"  formControlName="name" required>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group p-8">
                          <input class="form-control valid" name="price" id="price" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter price'" placeholder="price"  formControlName="price">
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="form-group">
                          <input class="form-control valid" name="link" id="link" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Link'" placeholder="Link"  formControlName="link" required>
                      </div>
                  </div>
                  <div class="col-12">
                      <div class="form-group">
                          <input class="form-control" name="img" id="img" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter image'" placeholder="Enter image link"  formControlName="img" required>
                      </div>
                  </div>
                  <div class="col-12">
                      <div class="form-group">
                          <textarea class="form-control w-100" name="description" id="description" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Description'" placeholder="Description" formControlName="description" required></textarea>
                      </div>
                  </div>
              </div>
              <div class="form-group mt-3">
                  <button type="submit" class="button button-contactForm boxed-btn">Add course</button>
              </div>
          </form>
      </div>
  </div>

      </div>
    </div>
</section>
